<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785009778188-vlseic38efq03q5cfs6vur1osanekifj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785009778188-vlseic38efq03q5cfs6vur1osanekifj</string>
	<key>API_KEY</key>
	<string>AIzaSyB4C-pi-5DYrN17MO8zJzXz7We7gHu2BuU</string>
	<key>GCM_SENDER_ID</key>
	<string>785009778188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.co.bog.branch</string>
	<key>PROJECT_ID</key>
	<string>branch-54c5d</string>
	<key>STORAGE_BUCKET</key>
	<string>branch-54c5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785009778188:ios:82975e7a92f7ea4d3bd829</string>
</dict>
</plist>