{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "extension": [
    ".ts",
    ".tsx"
  ],
  "exclude": [
    "**/*.d.ts",
    "**/*.test.ts",
    "**/*.test.js",
    "**/*.spec.ts",
    "**/src/database/**"
  ],
  "reporter": [
    "text",
    "clover"
  ],
  "branches": 16,
  "lines": 40,
  "functions": 20,
  "statements": 40,
  "report-dir" : "./test-reports"
}
